@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

body {
  background: #f1f5f6;
  font-family: ' 微软雅黑'; }

header {
  position: relative; }
  header .layout-header {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    text-align: center;
    height: 36px;
    background: #8e488e;
    font-size: 18px;
    color: white; }
    header .layout-header a {
      flex: 1;
      text-decoration: none;
      color: white;
      font-size: 18px; }
    header .layout-header a:nth-of-type(1) {
      text-align: left;
      padding-left: 8px; }
    header .layout-header a:nth-of-type(2) {
      text-align: right;
      padding-right: 8px; }
    header .layout-header div {
      flex: 3;
      font-size: 16px;
      font-weight: 700; }
  header .caidan {
    z-index: 3;
    display: none;
    width: 124px;
    height: 228px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: red;
    border-radius: 5px;
    right: 10px;
    border-top: 3px solid rgba(0, 0, 0, 0.6); }
    header .caidan ul li {
      height: 37px;
      border-bottom: 1px solid darkgray;
      text-align: center; }
      header .caidan ul li a {
        text-decoration: none;
        display: inline-block;
        line-height: 36px;
        text-align: center;
        color: darkgray;
        font-weight: 800; }
    header .caidan ul li:last-child {
      border: none; }
  header .caidan::before, header .caidan::after {
    content: '';
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, 0.6);
    right: 8px;
    top: -10px; }

.layoyt-body ul li {
  padding: 10px;
  height: 34px;
  display: flex;
  position: relative; }
  .layoyt-body ul li div {
    position: absolute;
    right: 11px;
    top: 11px;
    background: darksalmon;
    height: 32px;
    text-align: center;
    line-height: 32px;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    opacity: 0.7;
    display: none; }
  .layoyt-body ul li input {
    width: 0px;
    text-indent: 8px;
    flex: 1; }
  .layoyt-body ul li button {
    border: none;
    width: 0px;
    flex: 1;
    background: #8e488e;
    color: white;
    border-radius: 5px;
    font-size: 15px; }

.layoyt-body ul:nth-of-type(1) li input:nth-of-type(1), .layoyt-body ul:nth-of-type(5) li input:nth-of-type(1) {
  flex: 1; }

.layoyt-body ul:nth-of-type(1) li input:nth-of-type(2), .layoyt-body ul:nth-of-type(5) li input:nth-of-type(2) {
  flex: 2; }

.layoyt-body ul:nth-of-type(2) li div {
  right: 40%; }

.layoyt-body ul:nth-of-type(2) li input {
  flex: 3; }

.layoyt-body ul:nth-of-type(2) li button {
  flex: 2;
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 16px;
  background: #8e488e; }

.layoyt-body ul:nth-of-type(6) li button {
  border: none;
  border-radius: 5px;
  flex: 1;
  background: #8e488e;
  color: white;
  font-size: 16px; }

.layoyt-body div {
  display: flex; }
  .layoyt-body div a {
    flex: 1;
    text-decoration: none;
    padding: 10px;
    padding-top: 8px;
    color: darkslategray;
    font-size: 14px; }
  .layoyt-body div a:nth-of-type(1) {
    text-align: left; }
  .layoyt-body div a:nth-of-type(2) {
    text-align: right; }
