$bodyColor:rgb(241,245,246);
$btnColor:rgb(142,72,142);
*{margin: 0;padding: 0;}
ul{list-style: none;}
body{background: $bodyColor;font-family: ' 微软雅黑';}
//头部
header{
    .layout-header{display: flex;justify-content: center;padding-top: 12px;text-align: center;height: 36px;background: $btnColor;font-size: 18px;color: white;
                  a{flex: 1;text-decoration: none;color: white;font-size: 18px;}
                  a:nth-of-type(1){text-align: left;padding-left: 8px;}
                  a:nth-of-type(2){text-align: right;padding-right:8px;}
                  div{flex: 3;font-size: 16px;font-weight: 700;}
    }
    
}
//表单验证
.layoyt-body{
    ul li{padding: 10px;;height:34px;display:flex;
         input{width: 0px;text-indent: 8px;flex:1;}
         button{border: none;width: 0px;}
    }
    
    ul:nth-of-type(1) li,ul:nth-of-type(5) li{
            
            input:nth-of-type(1){flex: 1;} 
            input:nth-of-type(2){flex:2;}
    }
    ul:nth-of-type(2) li{
        input{flex:3;}
        button{flex:2;border-radius:0 5px 5px 0 ;color: white;font-size: 16px;background: $btnColor;}
    }
    ul:nth-of-type(6) li{
        button{border: none; border-radius:5px;flex: 1;background: $btnColor;color: white;font-size: 16px;}
    }
    div a{
        text-decoration: none;
        padding: 10px;
        color: darkslategray;
        font-size: 14px;
    }
    
}
